body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #c1e8ff;
    font-family: Tahoma;
    font-size: 16px;
}

h1 {

    color: #052659;
}

.outer-box h1 {
    margin: 1em auto;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.container {
    background-color: #7da0ca;
    margin: 0 25%;
    padding: 20px;
    border: transparent;
    border-radius: 5%;
    text-align: left;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

label {
    display: block;
    margin: 1rem 0;
}

input, textarea, select {
    background-color: #c1e8ff;
    border: 1px solid #c1e8ff;
    color: #ffffff;
    border-radius: 7px;
}

.alpha input {
    height: 1.5rem;
    width: 50%;
}

button{
    padding: 0.8em;
    width: 20%;
    background-color: #052659;
    color: #ffffff;
    border: 1px transparent;
    border-radius: 20px 3px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    color: #052659;
    background-color: #ffffff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;

}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: rgb(19, 12, 12);
}
input[type="checkbox"]{
    width:70px;
}
button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #052659;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(7, 13, 61);
    color: #fff;
}


